<!doctype html>
<html lang="es">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta name="author" content="Ing. Ricardo Elias Mondragon Trujillo">
  <title>SIA | IESCH</title>
  <link rel="icon" href="../../assets/icons/iesch_ico.ico"/>

  <link href="../../vendor/plugins/tempLTE/bootstrap/dist/css/bootstrap.min.css"  rel="stylesheet">
  <link href="../../vendor/plugins/tempLTE/css/AdminLTE.min.css"  rel="stylesheet">
  <link href="../../vendor/plugins/tempLTE/css/skins/_all-skins.min.css" rel="stylesheet" >
  <link href="../../vendor/plugins/tempLTE/select2/dist/css/select2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../vendor/plugins/tempLTE/datatables.net-bs/css/dataTables.bootstrap.min.css">


  <link href="../../vendor/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../vendor/plugins/alertifyJS/css/alertify.min.css" rel="stylesheet">
  <link href="../../vendor/plugins/alertifyJS/css/themes/default.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
 
  </head>
